table {
    border-collapse: collapse;
    border-style:solid;
    border-color : rgb(225, 225, 225);
    font-size : 13px;
    width:450px;
    height:200px;
    margin-left:3px;
}
tr {
    text-align: center;
}